@import "variables";
@import "normalize";
@import "helpers";
@import "loader";

.container{
	margin-top: 10px;
	display: flex;
}
main{
	flex-basis: 70%;
	margin-left: 3%;
	display: flex;
	flex-direction: column;
}